* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f4ec;
}

/* Login form container */
.login-form {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  /* backdrop-filter: blur(4px); */
}

/* avatar */
.avatar {
  width: 100px;
  display: block;
  margin: 0 auto;
}

/* Form title */
.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #50589c;
  letter-spacing: 0.8px;
  font-size: 26px;
}

.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #50589c;
}

.input-div:after,
.input-div:before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #d78fee;
  transition: 0.3s;
}

.input-div:after {
  right: 50%;
}

.input-div:before {
  left: 50%;
}

.input-div.focus .icon i {
  color: #50589c;
}

.input-div.focus div h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus:after,
.input-div.focus:before {
  width: 50%;
}

.input-div .one {
  margin-top: 0;
}

.input-div .two {
  margin-bottom: 4px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon i {
  color: #d78fee;
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #50589c;
  font-size: 18px;
  transition: 0.3s;
}

input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 12px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #555;
}

/* Forgot password link */
.forgot-password-link {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  color: blue;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #9ac3ef;
  text-decoration: underline;
}

/* Button styling */
.btn {
  padding: 15px;
  margin: 20px 0;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(to right, #50589c, #9ac3ef, #50589c);
  background-size: 200%;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn.login {
  width: 100%;
}

.btn.logout {
  display: block;
  margin: 0 auto;
  width: 150px;
}

.btn:hover {
  background-position: right;
}

/* Error message */
.error {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

/* Welcome msg container */
.welcomeMsg-container {
  width: 100%;
  max-width: 800px;
  text-align: center;
}

/* Welcome message */
.welcome_msg {
  margin-bottom: 25px;
}

.welcome_msg i {
  display: inline-block;
  font-size: 50px;
  margin-right: 18px;
  transform-origin: bottom center;
  animation: wave 2s infinite ease-in-out;
}

.welcome_msg span {
  font-size: 35px;
  font-weight: 600;
  color: #473472;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Responsive adjustments */
@media (max-width: 500px) {
  .login-form {
    padding: 20px;
    margin: 10px;
  }

  .avatar {
    width: 60px;
  }

  .login-form h2 {
    font-size: 20px;
  }

  .input-div > div h5 {
    font-size: 16px;
  }

  .welcome_msg i {
    font-size: 35px;
  }

  .welcome_msg span {
    font-size: 25px;
  }

  .btn.logout {
    padding: 12px;
  }
}
